   <<<<<<< HEAD
﻿# Ignore the virtual environment directory
LearnReflect-System\Python-Backend-Flask\myenv
Python-Backend-Flask\ChatbotAI\Model
Python-Backend-Flask\AI-Video-Enchancer\myenv
Python-Backend-Flask\AI-Video-Enchancer\AI-onnx
Python-Backend-Flask\AI-Video-Enchancer\Assets
Backend-Express\node_modules
LearnReflect-React-Frontend\node_modules