* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.TrainerImg {
width: auto; /* Ensures the image never overflows its container */
  height: 100%;     /* Maintains aspect ratio */
  z-index: 2;
  right: 0;
  position: fixed;
}

.LionImg{
  width: auto;
  z-index: 2;
  position: fixed;
  left: 0;
  height: 100%;
}

/* Media Query for smaller devices like iPhones */
@media (max-width: 768px) {
  .TrainerImg {
    width: 50%;   /* Adjust the width percentage as needed */
    height: auto;
    right: 10px;  /* Optional: Adjust the positioning if necessary */
  }
}

@media (max-width: 480px) {
  .TrainerImg {
    width: 80%;   /* On very small devices like iPhone SE, etc. */
    height: auto;
    right: 5px;   /* Adjust positioning to avoid image overflow */
  }
}
/* Media Query for smaller devices like iPhones */
@media (max-width: 768px) {
  .LionImg {
    width: 50%;   /* Adjust the width percentage as needed */
    height: auto;
    right: 10px;  /* Optional: Adjust the positioning if necessary */
  }
}

@media (max-width: 480px) {
  .LionImg {
    width: 80%;   /* On very small devices like iPhone SE, etc. */
    height: auto;
    right: 5px;   /* Adjust positioning to avoid image overflow */
  }
}


.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  z-index: 10;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  width: 60%;
  list-style: none;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-style: oblique;
  text-shadow: 0 0 10px rgba(17, 167, 204, 0.5);
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #009688;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  background: #009688;
  position: absolute;
  width: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.navbar ul li:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar ul li {
    margin: 10px 0;
  }
}
